body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-image: url('../img/header_back.png');
    background-size: cover;
    height: 90vh;
    color: white;
    padding: 0 5%;
}

#header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
#menu a{
    font-size: 14px;
    margin: 7.5px;
}
#cta{
    background-color: rgba(36, 33, 33, 0.699);
    padding: 5px 15px;
    border-radius: 20px;
}
h1{
    margin: 0;
}
p{
    margin: 0;
}
#h_header{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
#header-text{
    font-size: 12px;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-top: 40px;
}

button{
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    background-color: #e7b74b;
}
.ellips_btn{
    width: 20%;
    margin-left: 40%;
    margin-top: 30px;
    padding: 10px 20px;
}
.stroke_btn{
    background-color: #3d3d3d;
    border: 1px solid white;
    width: 350px;
}
.def_btn{
    width: 200px;
    color: #3d3d3d;
}

.content{
    height: 300px;
}
footer{
    background-color: #3d3d3d;
    color: white;
    padding: 5%;
}
#footer_row{
    display: flex;
    justify-content: space-between;
}
#btns{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}
.footer_cols{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#footer_links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
}
